---
import Line from "../components/buttons/Line.astro";

import { getI18N } from "../i18n";
import ChevronIcon from "./icons/ChevronIcon.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

type ExperienceKey = "streamHatchet" | "atleticoOeste" | "maxxEshop";

const EXPERIENCE = [
  {
    date: "2024 ~",
    company: "Stream Hatchet",
    title: "Front End Developer",
    key: "streamHatchet",
    link: "https://streamhatchet.com/",
    logo: "/logos/stream_hatchet_logo.webp",
  },
  {
    date: "2024",
    company: "Atletico Oeste",
    title: "Full Stack Developer",
    key: "atleticoOeste",
    link: "https://atleticooeste.com",
    logo: "/logos/atletico_oeste_logo.webp",
  },
  {
    date: "2023 - 2024",
    company: "Maxx Eshop",
    title: "Full Stack Developer",
    key: "maxxEshop",
    link: "https://www.maxxeshop.com/",
    logo: "/logos/MaxxeshopLogo.webp",
  },
];
---

<div
  class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-6 max-w-6xl mx-auto"
>
  {
    EXPERIENCE.map(({ date, company, title, key, link, logo }) => (
      <div class="flex flex-col gap-2 border border-lightgray dark:border-white shadow-custom-dark dark:shadow-custom-white p-8">
        <div class="flex justify-start items-center">
          <img src={logo} alt={`${company} logo`} class=" rounded-lg size-14" />
          <div class=" ml-4">
            <h3 class="text-xs text-gray-900 dark:text-gray-300 mb-1">
              {date}
            </h3>
            <h2 class="font-bold font-xl"><a href={link} target="_blank">{company}</a></h2>
          </div>
        </div>
        <Line />
        <h3 id="description" class="font-bold text-xl">
          {title}
        </h3>
        <div class="flex-grow mt-6" />
        <a
          aria-label="button"
          href={link}
          role="link"
          target="_blank"
          class="flex justify-start items-center transition-all duration-300 ease-in-out hover:translate-x-1 text-gris dark:text-light"
        >
          {" "}
          <span class="font-semibold">
            Website
          </span>
          <ChevronIcon class="size-6" />
        </a>
      </div>
    ))
  }
</div>
