---
import NextjsIcon from "./icons/NextjsIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NodeJsIcon from "./icons/NodeJsIcon.astro";
import MongoDBIcon from "./icons/MongoDBIcon.astro";
import ZodIcon from "./icons/ZodIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import HTMLIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";

export const TAGS = {
  NEXT: {
    name: "Next",
    class: "bg-black text-white",
    icon: NextjsIcon,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "bg-blue text-white",
    icon: ReactIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellowsm text-white",
    icon: JavaScriptIcon,
  },
  NODE: {
    name: "Node",
    class: "bg-emerald-800 text-white",
    icon: NodeJsIcon,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-lime-700 text-white",
    icon: MongoDBIcon,
  },
  ZOD: {
    name: "Zod",
    class: "bg-cyan-600 text-white",
    icon: ZodIcon,
  },
  SQL: {
    name: "PostgreSQL",
    class: "bg-indigo-700 text-white",
    icon: MySQLIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-sky-600 text-white",
    icon: TypeScriptIcon,
  },
  PYTHON: {
    name: "Phyton",
    class: "bg-amber-700 text-white",
    icon: PythonIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-orange text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue text-white",
    icon: CssIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-red text-white",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "bookeando",
    description:
      "Complete project, from the conception of the backend and frontend. Features Stripe, authentication, and end-to-end testing. Users can book a hotel and manage the reservation as a hospitality owner as well.",
    link: "https://bookeando.onrender.com/",
    github: "https://github.com/ssanjua/booking-web",
    image: "/projects/bookeando.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.NODE, TAGS.TAILWIND, TAGS.MONGODB],
    color: "bg-pink",
  },
  {
    title: "YarcoDelivery",
    description:
      "Full stack food delivery app featuring auth0, Stripe for handling payments, user profiles, and advanced management. Includes order tracking, order management, and menu options.",
    link: "https://sanjuan-delivery-app-frontend.onrender.com/",
    github: "https://github.com/ssanjua/sanjuan-delivery-app",
    image: "/projects/yarcoDelivery.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.NODE, TAGS.TAILWIND, TAGS.MONGODB],
    color: "bg-orange",
  },
  {
    title: "Filmmaker",
    description:
      "This is my filmmaking portfolio. I merged my two passions here.",
    link: "https://ppaupallares.vercel.app/",
    github: "https://github.com/ssanjua/ssanjua-filmmaker-web",
    image: "/projects/ppaupallares.webp",
    tags: [TAGS.ASTRO, TAGS.NODE, TAGS.NEXT, TAGS.TAILWIND],
    color: "bg-yellow"
  },
  {
    title: "Harvey's App",
    description:
      "A fun app that uses text-to-speech technology to bring Harvey, Michael's robot from 'The Office,' to life. Make Harvey speak whatever you type!",
    link: "https://ssanjua.pythonanywhere.com",
    github: "https://github.com/ssanjua/MicaelScott-Harvey_app",
    image: "/projects/harveys.webp",
    tags: [TAGS.PYTHON, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
    color: "bg-red"
  },
];
---

<div class="grid md:grid-cols-2 gap-2 md:gap-4">
  {
    PROJECTS.map(({ title, description, tags, image, link, github, color }) => (
      <div class="p-8 bg-white dark:bg-gris">
        <div class="flex items-center justify-between">
          <h3 class={`descripcion-text-noline ${color} text-background-dark custom-shadow-ex p-1 text-xl font-bold mr-4`}>
            {title}
          </h3>
          <div class="flex gap-3">
            <LinkButton href={github}>
              <GitHubIcon class="size-6" />
            </LinkButton>
            <LinkButton href={link}>
              <Link class="size-6" />
            </LinkButton>
          </div>
        </div>
        <div class="flex items-center mt-5">
          <a role="link" target="_blank" href={link}>
            <img
              src={image}
              alt={`Project ${title}`}
              class="w-full max-w-[600px] object-cover transition-all duration-300 ease-out hover:scale-105"
            />
          </a>
          <div class="mt-5">
            {tags.map((tag) => (
              <span class={`inline-flex m-1 text-xs p-2 ${tag.class}`}>
                <tag.icon class="size-3.5 mr-1" />
                {tag.name}
              </span>
            ))}
          </div>
        </div>
        <div class="flex flex-col justify-end p-2 ">
          <p class="text-sm mt-3 font-semibold text-black dark:text-gray-100">
            {description}
          </p>
        </div>
      </div>
    ))
  }
</div>
