---
import NextjsIcon from "./icons/NextjsIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NodeJsIcon from "./icons/NodeJsIcon.astro";
import MongoDBIcon from "./icons/MongoDBIcon.astro";
import ZodIcon from "./icons/ZodIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import HTMLIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import PlusIcon from "./icons/PlusIcon.astro";

export const TAGS = {
  NEXT: {
    name: "Next",
    class: "bg-black text-white",
    icon: NextjsIcon,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "bg-blue-800 text-white",
    icon: ReactIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-600 text-white",
    icon: JavaScriptIcon,
  },
  NODE: {
    name: "Node",
    class: "bg-emerald-800 text-white",
    icon: NodeJsIcon,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-lime-700 text-white",
    icon: MongoDBIcon,
  },
  ZOD: {
    name: "Zod",
    class: "bg-cyan-600 text-white",
    icon: ZodIcon,
  },
  SQL: {
    name: "PostgreSQL",
    class: "bg-indigo-700 text-white",
    icon: MySQLIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-sky-600 text-white",
    icon: TypeScriptIcon,
  },
  PYTHON: {
    name: "Phyton",
    class: "bg-amber-700 text-white",
    icon: PythonIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-red-900 text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-800 text-white",
    icon: CssIcon,
  },
};

const PROJECTS = [
  {
    title: "Bookeando",
    description:
      "Complete project, from the conception of the backend and frontend. Features Stripe, authentication, and end-to-end testing. Users can book a hotel and manage the reservation as a hospitality owner as well.",
    link: "https://bookeando.onrender.com/",
    github: "https://github.com/ssanjua/booking-web",
    image: "/projects/bookeando.webp",
    tags: [
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.NEXT,
      TAGS.NODE,
      TAGS.TAILWIND,
      TAGS.MONGODB,
    ],
  },
  {
    title: "YarcoDelivery",
    description:
      "Full stack food delivery app featuring auth0, Stripe for handling payments, user profiles, and advanced management. Includes order tracking, order management, and menu options.",
    link: "https://sanjuan-delivery-app-frontend.onrender.com/",
    github: "https://github.com/ssanjua/sanjuan-delivery-app",
    image: "/projects/yarcoDelivery.webp",
    tags: [
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.NEXT,
      TAGS.NODE,
      TAGS.TAILWIND,
      TAGS.MONGODB,
    ],
  },
  {
    title: "ShortURL",
    description:
      "A URL shortener is a tool that converts long URLs into abbreviated versions, making them easier to share and manage.",
    link: "https://'url-shortener-ss.vercel.app/",
    github: "https://github.com/ssanjua/url-shortener",
    image: "/projects/shortURL.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.NEXT, TAGS.ZOD, TAGS.SQL],
  },
  {
    title: "Harveys App",
    description:
      "A fun app that uses text-to-speech technology to bring Harvey, Michael's robot from 'The Office,' to life. Make Harvey speak whatever you type!",
    link: "https://ssanjua.pythonanywhere.com",
    github: "https://github.com/ssanjua/MicaelScott-Harvey_app",
    image: "/projects/harveys.webp",
    tags: [TAGS.PYTHON, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

<div class="grid md:grid-cols-2 gap-2">
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <div class="mb-4">
        <div class="flex items-center">
          <PlusIcon class="size-4 mr-2" />
          <h3 class="text-xl font-semibold mr-4">{title}</h3>
          <div class="flex gap-3">
            <LinkButton href={github}>
              <GitHubIcon class="stroke-current text-black dark:text-white size-4" />
              Code
            </LinkButton>
            <LinkButton href={link}>
              <Link class="size-4" />
              Demo
            </LinkButton>
          </div>
        </div>
        <div class="group relative overflow-hidden rounded-2xl">
          <img
            src={image}
            alt={`Project ${title}`}
            class="w-full object-cover transition-all duration-300 ease-out opacity-80 group-hover:opacity-100 group-hover:scale-110"
          />
          <div class="absolute inset-0 flex flex-col justify-end p-2 bg-gradient-to-t from-white to-transparent dark:bg-gradient-to-t dark:from-black dark:to-transparent">
            <p class="text-sm font mt-3 text-black dark:text-gray-100 px-8">
              {description}
            </p>
          </div>
        </div>
        <div class="flex flex-wrap items-center justify-center gap-2 py-2">
          {tags.map((tag) => (
            <span
              class={`inline-block rounded-full text-xs py-2 px-3 ${tag.class}`}
            >
              <tag.icon class="inline-block size-3.5" />
              {tag.name}
            </span>
          ))}
        </div>
      </div>
    ))
  }
</div>


