---
import { TAGS } from "./Projects.astro";
import LinkButtonSecondary from "./buttons/LinkButtonSecondary.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import Link from "./icons/Link.astro";
import ProjectsIcon from "./icons/ProjectsIcon.astro";

const SMALL_PROJECTS = [
    {
        title: "Markdown Previewer",
        link: "https://markdown-previewer-wine.vercel.app/",
        github: "https://github.com/ssanjua/markdown-previewer",
        image: "/projects/markdown.webp",
        tags: [TAGS.REACT, TAGS.HTML, TAGS.CSS],
    },
    {
        title: "ShortURL",
        link: "https://'url-shortener-ss.vercel.app/",
        github: "https://github.com/ssanjua/url-shortener",
        image: "/projects/shortURL.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.NEXT, TAGS.ZOD, TAGS.SQL],
    },
    {
        title: "Subway Counter",
        link: "https://ssanjua-subwaycounterapp.netlify.app/",
        github: "https://github.com/ssanjua/MicaelScott-Harvey_app",
        image: "/projects/subwayCounter.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
    },
];
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    {
        SMALL_PROJECTS.map(({ title, tags, image, link, github }) => (
            <div class="border-2 border-white">
                <div class="flex items-center justify-between p-4">
                    <div class="flex items-center ml-2 bg-background-dark">
                        <h3 class="font-bold text-base">{title}</h3>
                    </div>
                    <div class="flex gap-2">
                        <LinkButtonSecondary href={github}>
                            <GitHubIcon class="text-black dark:text-white size-6" />
                        </LinkButtonSecondary>
                        <LinkButtonSecondary href={link}>
                            <Link class="size-6 text-black dark:text-white" />
                        </LinkButtonSecondary>
                    </div>
                </div>
                <div class="transition-all duration-300 ease-out group-hover:scale-110">
                    <img src={image} alt={`Project ${title}`} class="" />
                </div>
                <div class="flex flex-wrap my-4 items-center justify-center gap-2">
                    {tags.map((tag) => (
                        <span
                            class={`inline-block text-xs py-1 px-2 ${tag.class}`}
                        >
                            <tag.icon class="inline-block size-3.5" />
                            {tag.name}
                        </span>
                    ))}
                </div>
            </div>
        ))
    }
</div>
